flask
Werkzeug
requests
joblib
PyYAML
python-dateutil
langchain-core
langchain-ollama
langchain-openai
langchain-community
langgraph
sqlalchemy
typing-extensions
IPython
langchain
chromadb==1.0.11
langchain_chroma==0.2.4
sentence_transformers
rank_bm25
langchain_huggingface
langdetect

# voice module
soundfile
kokoro
TTS
transformers==4.30.2